<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta name=viewport content=width=device-width,initial-scale=1>
    <title>Registreren</title>
    <link rel="stylesheet" href="/stylesheet/style2.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>  <a href="#">Matches</a>
          </li>
          <li>  <a href="#">Profiel</a>
          </li>
          <li>  <a href="#">Test resultaten</a>
          </li>
          <li>  <a href="#">Instellingen</a>
          </li>
          <li>  <a href="index.html">Uitloggen</a>
          </li>
        </ul>
      </nav>
    <img class="logo" src="images/logoBucketlove.png" alt="Bucketlove">
      <a href="#"><img src="images/text.png" alt="Berichten"></a>
    </header>
    <main>
      <h2>Bucketlist</h2>
      <p>Maak nu je bucketlist aan, met <b><i>minimaal 5</i></b> dingen die jij graag wil doen.
         En geef deze verschillende categoriëen. De verschillende categoriëen vind je hieronder
         en kun je toekennen aan een onderdeel, door hierop te klikken! </p>
      <div>
      <ul class="categorie">
        <li>Avontuur</li>
        <li>Reizen</li>
        <li>Sport</li>
        <li>Eten & drinken</li>
        <li>Creatief</li>
        <li>Prestatie</li>
        <li>Liefdadigheidswerk</li>
        <li>Evenementen </li>
        <li>Persoonlijke ontwikkeling</li>
        <li>Lichaam & gezondheid</li>
        <li>Carrière</li>
        <li>Relaties</li>
        <li>Donatie</li>
        <li>Familie</li>
        <li>Ervaring</li>
        <li>Cultuur</li>
        <li>Financieel</li>
      </ul>
      </div>
      <form class="bucketlist" action="/locatie" method="post">
        <fieldset>
          <legend>Bucketlist van <i>Susan</i></legend>
          <ol>
            <li>Skydiven <button type="button" name="button">Sport</button></li>
            <li>Bali <button type="button" name="button">Reizen</button></li>
            <li>Eten in een sterrenrestaurant <button type="button" name="button">Eten & Drinken</button></li>
            <li>Kookcursus volgen <button type="button" name="button">Eten & Drinken</button></li>
            <li>Vrijwilligerswerk Afrika <button type="button" name="button">Prestatie</button></li>
            <li>...</li>
          </ol>
          <button type="button" name="button"><img src="images/add.png" alt="add">Nieuw onderdeel...</button>
          <button type="submit" name="button">Volgende</button>
        </fieldset>
      </form>
    </main>
  </body>
</html>
