<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta name=viewport content=width=device-width,initial-scale=1>
    <title>Registreren</title>
    <link rel="stylesheet" href="/stylesheet/style5.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>  <a href="/matches">Matches</a>
          </li>
          <li>  <a href="/profile">Profiel</a>
          </li>
          <li>  <a href="/results">Test resultaten</a>
          </li>
          <li>  <a href="/settings">Instellingen</a>
          </li>
          <li>  <a href="/">Uitloggen</a>
          </li>
        </ul>
      </nav>
      <img class="logo" src="images/logoBucketlove.png" alt="Bucketlove">
      <a href="/messages"><img src="images/text.png" alt="Berichten"></a>
    </header>
    <main>
      <h2>Welkom <i>Susan</i>!</h2>
      <p>Je bent bijna klaar, maar eerst moeten de volgende stappen voltooid worden, om een goede match te vinden.</p>
      <form class="match" action="/aanmakenBucketlist" method="post">
        <fieldset>
          <label for="match">Met wie wil jij gematcht worden? (maximaal 3)</label>
            <input type="checkbox" name="matches" id="match">Man
            <input type="checkbox" name="matches" id="match">Vrouw
            <input type="checkbox" name="matches" id="match">Genderneutraal
          <label for="min">Minimum leeftijd</label>
            <input type="number" name="minimum" id="min">
            <h4>VS</h4>
          <label for="max">Maximum leeftijd</label>
              <input type="number" name="maximum" id="max">
          <label for="interests">Geef een korte beschrijving over wat jij zoekt in een partner</label>
            <input type="text" name="interresses" id="interests">
          <button type="submit" name="button">Volgende</button>
        </fieldset>
      </form>
    </main>
  </body>
</html>
