<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8">
    <meta name=viewport content=width=device-width,initial-scale=1>
    <title>Registreren</title>
    <link rel="stylesheet" href="/stylesheet/style2.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>  <a href="#">Matches</a>
          </li>
          <li>  <a href="#">Profiel</a>
          </li>
          <li>  <a href="#">Test resultaten</a>
          </li>
          <li>  <a href="#">Instellingen</a>
          </li>
          <li>  <a href="index.html">Uitloggen</a>
          </li>
        </ul>
      </nav>
      <img class="logo" src="images/logoBucketlove.png" alt="Bucketlove">
      <a href="#"><img src="images/text.png" alt="Berichten"></a>
    </header>
    <main>
      
      <h2>Dank je wel <i>Susan</i>!</h2>
      <p>Je bent er helemaal klaar voor! Bekijk nu je potentiele matches!
        Deze kun je liken of verwijderen.
        Wanneer jullie beiden elkaar hebben geliket kunnen jullie beginnen met chatten!
        Veel plezier met daten!</p>
    </main>
    <footer>
      <form class="bekijkMatches" action="/matches" method="post">
        <button type="submit" name="button">Bekijk matches</button>
      </form>
    </footer>
  </body>
</html>
